body {
    background-image: url(/img/bus.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.row {
    width: 300px;
    height: 250px;
    position: relative;
    margin: 1% auto;
    background: red;
    padding: 10px;
}
.form-group{
    width:120px

}
.control-label {
    color: black;
    padding-right: 30px;
}


 