
#pagina {
    padding-left: 40px;
    font-size: 20px;
}
body{
    background-color:ghostwhite
}


.ticket h1 {
    padding-left: 40px;
    padding-top: 50px;
    text-decoration: underline;
}

.ticket p {
    padding-left: 40px;
    padding-top: 10px;
    font-size: 20px;
}

#heading {
    padding: 40px 40px;
    text-decoration: underline;
}

#paragraf {
    padding-left: 40px;
}

#list {
    padding-left: 60px;
    font-size: 18px;
}

p {
    padding-left: 40px;
    font-size: 16px;
}

.ture {
    background-color: #ECECEC;
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

td {
    text-align: center;
    font-size: 30px;
    padding-left: 10px;
}

table {
    padding-left: 19px;
    margin-left: 20px;
}

h2 {
    padding-top: 100px;
    padding-left: 30px;
    text-decoration: underline;
}

.subsc {
    padding-bottom: 20px;
}

.heading {
    background-color: #ECECEC;
    color: #333333;
    text-align: center;
    font-weight: bold;
}

.second {
    padding-left: 10px;
}

.third {
    padding-left: 10px;
}

h3 {
    padding-left: 30px;
}

#primul {
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 20px;
}

.dis {
    padding-top: 30px;
}

.rates {
    background-color: #ECECEC;
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
