
.col-md-12 {
    max-width: 400px;
    min-height: 400px;
}

.btn {
    width: 55%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, blue, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

