@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/about.css")" />
<h2>Rat Craiova</h2>
<p> <strong>About us</strong></p>
<div class="historic">
    <h1>Historic</h1>
    <br>
    <p>
        Public transport in Craiova was established in September 1948 with a fleet of 2 buses, received from Bucharest and was
        included in the Communal Management Enterprise of Craiova.

        The buses ran on a single route that connected the North Station and the Romanescu Park, the most important areas of the
        city at that time.

        By November of the same year, the car fleet had grown to 10 buses, distributed over 2 routes.

        Due to the industrial expansion of Craiova, public transport began to expand, requiring a greater number of means of
        transport to ensure the movement of landlords to jobs.
    </p>

    <p>
        In 1967, under the name of Craiova Transport Enterprise (ITC), a modern bus base for 200 buses was built, on the current
        Calea Severinului street at no. 23, where the director's office is still located.

        Due to the increase in the number of inhabitants of Craiova, another bus base was needed to take over a part of the car
        park that is constantly growing.

        Thus, in 1978, the second bus base was built, located in the Romanescu neighborhood, for a capacity of 200 buses.

        During the '80s, the Craiova County Local Transport Company provides passenger transport, both inside the city and in
        the county, with bus bases in the cities of Bailesti, Calafat and Filiasi.

        Due to the need to reduce energy consumption at the national level, in 1987, in the municipality of Craiova was
        introduced public transport by tram, on a route of 18.4 km double track, which connected the eastern and western
        industrial platforms of the city.

        In 1989, 2900 employees provided maintenance and operation of a fleet of 342 buses and 49 trams with trailers.
    </p>

    <img src="~/img/sediu_rat.jpg" alt="sediu_rat">

    <p>
        Currently RAT SRL (former Autonomous Transport Authority of Craiova) has a tram depot and two bus stations, with an
        active fleet of 180 buses and 29 trams.

        In the case of buses, following in time the economic evolution of the city, which implicitly influenced the passenger
        flows, the optimal and frequent traffic routes adapted to the demand conditions were established.

        In the investment policy of the company of the last 5 years, as a result of the studies carried out, it was established
        the purchase of high and medium capacity buses, in order to increase the transport quality and the comfort of the
        passengers.

        Currently, the car fleet includes BMC, IVECO and Prestij buses (Mitsubishi) with transport capacities between 30 and 70
        seats and MAN SL, MAN LYON CITY, BREDAMENARINIBUS, MERCEDES, UDM 112, SOLARIS buses with transport capacities. over 100
        seats.

        In the city of Craiova there are 17 internal bus routes evenly distributed over the entire city, which connect the main
        areas of the city.

        Regarding the electric transport, RAT Craiova has a fleet of 29 trams distributed on 3 routes.

        An issue of utmost importance from an economic point of view is the correlation of the transport capacity of the company
        with the passenger flows. In this sense, the traffic cyclograms of all the routes in Craiova are flexible, being adapted
        to the traffic of each area.

        The aim is to continuously improve passenger transport conditions and reduce operating costs, by optimizing public
        transport that involves correlating transport capacity with passenger flows on routes served by the directorate,
        measures that will be reflected in the cost price of the travel ticket .
    </p>

    <img src="~/img/tramvai.jpg" alt="tramvai">
</div>