@{
    ViewData["Title"] = "Home Page";
}
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/home.css")" />
<img class="emblema" src="~/img/emblema oras.png" alt="emblema">
<img class="rat" src="~/img/stema.jpg" alt="stema">
<h3>Adress:Calea Severinul nr.103</h3>
<br>
<div class="Work">
    <h3>Work program</h3>
    <p> <i> Monday-Sunday:5:30-21:30  </i> </p>
</div>


