@{
    ViewData["Title"] = "Prices";
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/price.css")" />
<h4 id="pagina">Rat Craiova</h4>
<p id="bilete"> <strong>Ticket Rates and Subscriptions</strong></p>

<div class="ticket">
    <h1>Ticket Rates and Subscriptions</h1>
    <p>
        RAT Craiova, representing the largest urban public transport operator in the Oltenia region, has as main objective, the
        organization of its activity so that the citizens can benefit from a quality, competitive service, based on safety and
        comfort.

        We also chose to offer our passengers some of the lowest travel rates nationwide, focusing on both the social nuance of
        the service provided and the issues resulting from the analysis of the purchasing power of citizens, in the context of
        the report price - quality.

        The tariffs currently practiced reside from the continuous study of the market, based on the demand and supply, of the
        costs and possibilities offered by RAT Craiova.

        By practicing these tariffs in favor of citizens, RAT Craiova does not neglect the aspects related to the quality of the
        environment, wanting to attract as many participants in public transport, to the detriment of using personal cars,
        influencing the reduction of pollutants and noise pollution and having a role active in decongesting traffic in our
        city.
    </p>
</div>

<h1 id="heading">Purchase tickets and Subscriptions</h1>
<p id="paragraf">
    RAT Craiova offers you the possibility to purchase travel tickets through:
</p>
<br>

<ol id="list">
    <li>own network</li>
    <li>drivers </li>
    <li>through economic agents - private sellers, located in passenger stations</li>
    <li>at ticket vending machines</li>
</ol>

<br>
<p>
    Regarding the transport season tickets, they are offered to you through the points of sale tickets (tons) located as
    follows:
</p>



<table class=" content-table" border="1" cellspacing="0">
    <!--for border 0 space-->
    <tbody class="program">
        <tr class="ture">
            <td>Locatie</td>
            <td>Tura I</td>
            <td>Tura II</td>
            <td>S+S</td>

        </tr>
        <tr>
            <td>Gara</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Statia 20</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Oltet</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Parc</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Banie</td>
            <td>10:30-18:30</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Brazda</td>
            <td>8:30-16:30</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Siloz</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>9:00-17:00</td>
        </tr>

        <tr>
            <td>Electro</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Institut</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>9:00-17:00</td>
        </tr>

        <tr>
            <td>Piata Centrala</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Toneta 3F Centru</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Spitalul 2</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>9:00-17:00</td>
        </tr>

        <tr>
            <td>Casa Stiinta si Tehnica</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>9:00-17:00</td>
        </tr>

        <tr>
            <td>Statia 10</td>
            <td>9:00-17:00</td>
            <td>-</td>
            <td>-</td>
        </tr>

        <tr>
            <td>Statia 15</td>
            <td>6:00-14:00</td>
            <td>13:30-21:30</td>
            <td>9:00-17:00</td>
        </tr>
        <tr>
            <td>Brestei</td>
            <td>6:00-14:00</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
<div>
    <h2>Fares for a trip, regardless of distance</h2>
    <br>
    <table class="second" border="1" cellspacing="0">
        <tr class="heading">
            <td>Name</td>
            <td>Price</td>
        </tr>
        <tr>
            <td>Ticket sold per stalls</td>
            <td>2.00 RON</td>
        </tr>
        <tr>
            <td>Ticket sold by bus driver</td>
            <td>2.50 RON</td>
        </tr>
        <tr>
            <td>Outdoor route ticket</td>
            <td>3.00 RON</td>
        </tr>

    </table>
    <h2 class="subsc">Subscription rate </h2>
    <table class="third" border="1" cellspacing="0">
        <tr class="rates">
            <td>Name</td>
            <td>Price</td>
        </tr>
        <tr>
            <td>
                Unique subscription on all lines - valid for 1 month
            </td>
            <td>65,00 RON</td>

        </tr>
        <tr>
            <td>
                Unique subscription on all lines - valid for 15 days
            </td>
            <td>34,00 RON</td>

        </tr>
        <tr>
            <td>
                Unique subscription on all lines - valid for 7 days
            </td>
            <td>18,00 RON</td>

        </tr>
        <tr>
            <td>
                Subscription valid for 1 day all routes
            </td>
            <td>6,00 RON</td>

        </tr>
        <tr>
            <td>
                Non-nominated subscription for all lines - valid for 1 month
            </td>
            <td>110,00 RON</td>

        </tr>
    </table>
</div>

<h2> Facilitate subscriptions </h2>
<article>
    <h3 class="ha">Retirees</h3>
    <p id="primul">
        According to HCL 144 / 28.04.2016, free subscriptions are granted for one year on all means of transport
        in Craiova to
        pensioners residing in Craiova, over 70 years of age or regardless of age and with an income of less than 1000 lei
        starting with 1 July 2016. HCL 37 / 26.01.2017 modifies the previous one and increases the revenues to 1100 lei
        starting
        with 01.02.2017 and 1200 lei starting with July 1, 2017.
    </p>
    <br>
    <h3 class="dis">People with Disabilities</h3>
    <p id="primul">
        According to order 290/609/2003, the Social Protection Department of Craiova City Hall grants free monthly
        subscriptions
        on all means of public transport in Craiova for people with severe and severe disabilities and their companions
        residing
        in Craiova.
    </p>

    <h3 class="dis">Pupils and Students</h3>
    <p id="primul">
        According to HCL 37 / 26.01.2017, a 50% discount is granted on the monthly subscription on all means of public transport
        in Craiova for pupils attending students authorized in the municipality of Craiova
    </p>

    <h3 class="dis">War Veterans and Descendants</h3>
    <p id="primul">
        According to law 44/1994, the monthly subscription is granted free of charge on all means of public transport in Craiova
        for war veterans domiciled in Craiova and 50% discount for their descendants
    </p>
</article>